/* .hero-section{
    background-image: url("src/assets/svg/5.svg");
    background-repeat: no-repeat; 
} */

/* .hero-background{
    position: absolute;
} */

.ashira-logo{
    margin: auto;
    margin-top: 1.5rem;
    width: 15rem;
}

.ashira-name{
    margin: auto;
    margin-top: 1.5rem;
    width: 35rem;
}

.ashira-slogan{
    margin: auto;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: #727272;
}

.fast-service-green-box{
    background-color: var(--second-bg-color-medium);
    height: 12.5rem;
    width: 11.8;
}

.fast-service-span{
    color: var(--second-bg-color-medium);
    font-weight: bold;
}

.fast-service-span-lg{
    color: var(--second-bg-color-medium);

}